@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@100;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100;300;400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



.hero{
    background-image: url('./assets/imgs/hero1.png');
}
.service{
    background-image: url('./assets/imgs/services.png');
}
@layer base {

 li{
    cursor: pointer;
    list-style: none;
 }
  li:hover {
    @apply border-b-2 border-primary font-bold;
  }

}

